*
{
	margin: 0;
	padding: 0;
}
.image_product
{
	height: 64px;
	width: 64px;
}
.navbar
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(63, 112, 218);
	height: 100%;
}
.navlinks
{
	width: 50%;
	margin-left: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.navlinks li a
{
	margin: 1em;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.logo
{
	margin-left: 5em;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}